/*****************************************************
 * Animation Score Machine CSS
 *****************************************************/
@keyframes spin {
	0%   { background-position:0, 0 0; }
	100%  { background-position:0, 0 -320px; }
}

@-webkit-keyframes spin {
	0%   { background-position:0, 0 0; }
	100%  { background-position:0, 0 -320px; }
    
    
  /*0%   {   left:0px; top:0px; }
    100%   {   left:140px; top:50px; }
    */
/*    
0%   {background: red; left:0px; top:0px;}
25%  {background: yellow; left:200px; top:0px;}
50%  {background: blue; left:200px; top:200px;}
75%  {background: green; left:0px; top:200px;}
100% {background: red; left:0px; top:0px;}
*/
}


body {
	font-family: Arial, Helvetica, sans-serif; 
}

#machine { 
	width: 160px;
	margin:auto; 
	padding:5px;
	overflow:hidden; 
	background-color:#fff; 
    background-image: #fff; 
	/* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(.6,#333)); 
    
    background-image: linear-gradient(to bottom,#666666 0%,#33333 50%,#33333 51%,#666666 100%); 
    background-image: -ms-linear-gradient(to bottom,#666666 0%,#33333 50%,#33333 51%,#666666 100%);   
    */
    
    /*	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(.6,#333)); 
    */

	border-radius:10px; 
}

#machine > div { 
	float:left; 
	width:40px; 
	margin:5px;
	height:30px; 
	 background-color:#fff;  
	background-position:0;
	/* background-image: url("../images/blackie.png");  */ 
	
    /*	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(.6,#333)), url("../images/blackie.png"); 
    */
    
  /*  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.6)), to(rgba(0,0,0,.6)), color-stop(.3,rgba(0,0,0,0)), color-stop(.7,rgba(0,0,0,0))), url("../images/blackie.png");
    */
  /*   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.6)), to(rgba(0,0,0,.6)), color-stop(.3,rgba(0,0,0,0)), color-stop(.7,rgba(0,0,0,0))), url("../images/blackie.png");

    
     background-image: linear-gradient(to bottom,#000000 0%,#000000 50%,#000000 51%,#000000 100%),  url("../images/blackie.png"); 
     */
  
     background: url("../images/blackie_blank.png"), url("../images/blackie.png");
 background-position: left top, left top;
background-repeat: no-repeat, repeat;
    

/*
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.6)), to(rgba(0,0,0,.6)), color-stop(.3,rgba(0,0,0,0)), color-stop(.7,rgba(0,0,0,0))), url("../images/blackie.png");
*/
    /*  background-image: white, url("../images/blackie.png"); */
    
  /*  background-image: linear-gradient(to bottom,#1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%), 
	url("../images/blackie.png");
    */
   
  /* opacity: 0.3; */
     /*   background-image: url("../images/blackie.png"); */
    
	
	/*
	background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fad59f, endColorstr=#fa9907)
	
	
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.6)), to(rgba(0,0,0,.6)), color-stop(.3,rgba(0,0,0,0)), color-stop(.7,rgba(0,0,0,0))), 
	url("../images/blackie.png");
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fad59f, endColorstr=#fa9907);    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fad59f, endColorstr=#fa9907)";
   
	*/

	border-radius:5px; 
	
/*	-webkit-border-radius:5px; 
	-webkit-box-shadow:0 0 5px #000 inset; 
	
    -webkit-animation-name: spin;
    -webkit-animation-duration: .7s;
    -webkit-animation-timing-function: linear;
 */   
    
    border-radius:5px; 
	box-shadow:0 0 5px #000 inset; 
	
	/* -webkit-animation: spin .7s infinite linear; */
/*   animation-name: spin;
    animation-duration: .7s;
     animation-timing-function: linear;
  */  
    
    /*
 animation-name: myfirst;
animation-duration: 5s;
animation-timing-function: linear;
animation-delay: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-play-state: running;
/* Safari and Chrome: */

 animation-name: spin;
animation-duration: 0.5s;
animation-timing-function: linear;
 /*animation-iteration-count: infinite; */
-webkit-animation-name: spin;
-webkit-animation-duration: 0.7s;
-webkit-animation-timing-function: linear;
/*  -webkit-animation-iteration-count: infinite; */
/*
-webkit-animation-name: spin;
-webkit-animation-duration: 5s;
-webkit-animation-timing-function: linear;
-webkit-animation-delay: 2s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-play-state: running;
*/

}


.test > div {
 	-webkit-animation: none ; 
    animation: none ; 

}
